# Imported Assets
Assets/Props/Stylized_Dungeon*
Assets/Stylized_Labs*
Assets/Floreswa*
Assets\Props\Stylized_Dungeon_Props_Pack*

# Unity generated folders
Library/
Temp/
Obj/
Logs/
MemoryCaptures/
RecordingCaptures/

# Unity builds
Build/
Builds/
*.apk
*.aab
*.unitypackage
*.app

# Unity cache
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio
.vs/*
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Crashlytics
crashlytics-build.properties
.vs/Outlaw Horizon/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/Outlaw Horizon/FileContentIndex/b006c7f2-3023-4e42-9990-92001771d01e.vsidx
.vs/Outlaw Horizon/FileContentIndex/d17fd8c7-801f-4ba1-bc3f-d8718e44ad63.vsidx
.vs/Outlaw Horizon/v17/.suo
.vs/Outlaw Horizon/v17/DocumentLayout.backup.json
.vs/Outlaw Horizon/v17/DocumentLayout.json
.vs/Outlaw Horizon/v17/DocumentLayout.json
.vs/Outlaw Horizon/v17/DocumentLayout.backup.json
.vs/Outlaw Horizon/v17/.suo
.vs/Outlaw Horizon/FileContentIndex/d17fd8c7-801f-4ba1-bc3f-d8718e44ad63.vsidx
.vs/Outlaw Horizon/FileContentIndex/b006c7f2-3023-4e42-9990-92001771d01e.vsidx
.vs/Outlaw Horizon/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
